Reactivities/.vs/ProjectEvaluation/reactivities.metadata.v7.bin
Reactivities/.vs/ProjectEvaluation/reactivities.projects.v7.bin
Reactivities/.vs/VSWorkspaceState.json
Reactivities/.vs/Reactivities/config/applicationhost.config
Reactivities/.vs/Reactivities/copilot-chat/d5791e26/sessions/867c11e5-f777-45c6-b590-4bb3fdbf23ea
Reactivities/.vs/Reactivities/CopilotIndices/17.14.1518.61961/CodeChunks.db
Reactivities/.vs/Reactivities/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-shm
Reactivities/API/reactivities.db-shm
Reactivities/API/reactivities.db-wal
Reactivities/.vs/slnx.sqlite
Reactivities/.vs/Reactivities/copilot-chat/d5791e26/sessions/05063ece-be0a-40b9-8514-fda2ff67ebe2
Reactivities/.vs/Reactivities/CopilotIndices/17.14.1518.61961/CodeChunks.db-shm
Reactivities/.vs/Reactivities/CopilotIndices/17.14.1518.61961/CodeChunks.db-wal
Reactivities/.vs/Reactivities/CopilotIndices/17.14.1518.61961/SemanticSymbols.db
Reactivities/.vs/Reactivities/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-wal
Reactivities/.vs/Reactivities/DesignTimeBuild/.dtbcache.v2
Reactivities/.vs/Reactivities/FileContentIndex/56b4f29d-0ce7-4896-83be-925996b76886.vsidx
Reactivities/.vs/Reactivities/FileContentIndex/68521d4e-9565-409c-97d0-d534c18399af.vsidx
Reactivities/.vs/Reactivities/FileContentIndex/314472ad-1fdb-43c2-a48e-029a73b9fb66.vsidx
Reactivities/.vs/Reactivities/FileContentIndex/b3cbf27b-726a-458f-ad5a-7b4e78a91ae7.vsidx
Reactivities/.vs/Reactivities/FileContentIndex/f2c631ab-0031-4797-b851-f7cad017ba2e.vsidx
Reactivities/.vs/Reactivities/v17/.futdcache.v2
Reactivities/.vs/Reactivities/v17/.suo
Reactivities/.vs/Reactivities/v17/.wsuo
Reactivities/.vs/Reactivities/v17/DocumentLayout.backup.json
Reactivities/.vs/Reactivities/v17/DocumentLayout.json
Reactivities/API/API.csproj.user
Reactivities/API/reactivities.db
Reactivities/.gitignore
Reactivities/.vs/Reactivities/FileContentIndex/6b5bce0e-f753-4c0e-9ce1-daf39a36d3a5.vsidx
Reactivities/.vs/Reactivities/FileContentIndex/e4fbd106-c3e6-42fe-98c5-4a69163b0478.vsidx
Reactivities/.vs/ProjectEvaluation/reactivities.metadata.v9.bin
Reactivities/.vs/ProjectEvaluation/reactivities.projects.v9.bin
Reactivities/.vs/ProjectEvaluation/reactivities.strings.v9.bin
Reactivities/.vs/Reactivities/FileContentIndex/5bffaa6f-4871-44e0-9917-95a9b3a943b5.vsidx
Reactivities/.vs/Reactivities/FileContentIndex/33c44f59-ce14-489e-bdbf-05fff6d63f7d.vsidx
Reactivities/.vs/Reactivities/FileContentIndex/9718cb9c-6a1f-412e-a084-eb0f74472d13.vsidx
Reactivities/.vs/Reactivities/FileContentIndex/cf602501-540b-4c83-b965-f52e9452743d.vsidx
Reactivities/.vs/Reactivities/FileContentIndex/81c2dd24-8608-459f-9370-c9d1fa0270cf.vsidx
Reactivities/.vs/Reactivities/FileContentIndex/fdc5719b-561b-44bb-a8f6-8959e9374d58.vsidx
Reactivities/.vs/Reactivities/FileContentIndex/b21921d6-6b06-4f31-89e1-0fe1f0b03096.vsidx
Reactivities/.vs/Reactivities/FileContentIndex/0792a2d4-33e7-42a5-bebf-1ba1909075dd.vsidx
Reactivities/.vs/Reactivities/FileContentIndex/04ac3ee8-59e9-4ae2-8210-14dd97ac83b2.vsidx
Reactivities/.vs/Reactivities/FileContentIndex/7002f805-07e7-4636-881f-c603eabbf972.vsidx
Reactivities/.vs/Reactivities/FileContentIndex/23deb929-bae0-49c6-b187-985454bfcd58.vsidx
Reactivities/.vs/Reactivities/FileContentIndex/5f1c8224-ba30-423d-bb18-ae81b9521152.vsidx
